
html, body {
    height: 100%;
}

/* RESET */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* GLOBAL BODY */
body {
    min-height: 100vh;
    font-family: "Inter", "Segoe UI", Arial, sans-serif;

    background-image: url("../../daisy-bg-image.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

/* Soft overlay */
body::before {
    content: "";
    position: fixed;
    inset: 0;
    background: rgba(255, 255, 255, 0.15);
    pointer-events: none;
}
